{
  "openapi": "3.1.0",
  "info": {
    "title": "Israeli social services API",
    "version": "1.0.0",
    "description": "Social services in Israel — food, housing, money, health, mental health, legal aid and\nmore — from nonprofits, government ministries and local authorities.\n\n## The model\n\nA **service** is something offered. An **organization** offers it. A **branch** is a place\nit is offered at. A **card** is one service at one place, and is what search returns and\nwhat the public site links to.\n\nServices are described on two axes: a **response** is what the service provides, a\n**situation** is who it is for. Taxonomy ids are hierarchical and colon-delimited, e.g. `human_services:food:food_pantry`. Filtering by a parent matches everything beneath it, so `human_services:food` also returns services tagged only `human_services:food:food_pantry`.\n\nA service with no physical location is marked `national_service`. That is a fact about the\nservice, not missing data: it is available anywhere in the country. A radius or bounding-box\nsearch always includes such services.\n\n## Reading\n\nNo key is needed and CORS is open. Please cache: the corpus changes when data is published,\nnot per request.\n\n## Writing\n\nPushing services needs an API key with the `ingest:write` scope, sent as\n`Authorization: Bearer <key>`. Records are identified by your own `external_id` together\nwith the source the key belongs to, so re-sending the same rows updates rather than\nduplicates. Use `dry_run` to see the exact effect before writing anything.\n\n## Accuracy\n\nThis data is compiled from public sources and can be out of date. Every record carries\n`updated_at`, and `location_accurate` is false where the coordinate is a city centroid\nrather than the real address. Show both rather than implying a precision the data lacks.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/zomer-g/social-services-il/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://social-services-il-zomerg.xhostd.app"
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Finding services."
    },
    {
      "name": "Taxonomy",
      "description": "The two axes services are described on."
    },
    {
      "name": "Records",
      "description": "Individual services and organizations."
    },
    {
      "name": "Bulk",
      "description": "Whole-corpus access."
    },
    {
      "name": "Write",
      "description": "Submitting and updating services."
    }
  ],
  "paths": {
    "/api/v1/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search services",
        "description": "Free text, taxonomy, location and city filters, with facet counts for the whole result set. Free text is matched against Hebrew names, descriptions and taxonomy synonyms, with prefix handling and a trigram fallback for misspellings.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Free text."
          },
          {
            "name": "response",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Response ids; repeatable or comma-separated."
          },
          {
            "name": "situation",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Situation ids."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "With `lon`: rank by proximity and report distances."
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 500
            },
            "description": "Hard cutoff. Nationwide services are still included."
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "west,south,east,north — for a map viewport."
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "national_service",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "only",
                "exclude"
              ]
            }
          },
          {
            "name": "collapse",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "true"
            },
            "description": "Merge identical services offered by different organizations onto one row."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "he",
                "ar",
                "ru",
                "en"
              ],
              "default": "he"
            },
            "description": "Language of taxonomy names in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "Matching services, most relevant first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v1/cards/{cardId}": {
      "get": {
        "tags": [
          "Records"
        ],
        "summary": "One service at one place",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "he",
                "ar",
                "ru",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The full record, including everything else offered at the same place."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/organizations/{id}": {
      "get": {
        "tags": [
          "Records"
        ],
        "summary": "An organization and everything it offers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The organization."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/taxonomy": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "The category tree",
        "description": "Taxonomy ids are hierarchical and colon-delimited, e.g. `human_services:food:food_pantry`. Filtering by a parent matches everything beneath it, so `human_services:food` also returns services tagged only `human_services:food:food_pantry`. Categories with no services are hidden unless `include_empty` is set.",
        "parameters": [
          {
            "name": "axis",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "response",
                "situation"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "he",
                "ar",
                "ru",
                "en"
              ]
            }
          },
          {
            "name": "include_empty",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nodes, each with a card count and any synonyms."
          }
        }
      }
    },
    "/api/v1/autocomplete": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Suggestions while typing",
        "description": "Returns both categories and named services, because people type both kinds of thing.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "he",
                "ar",
                "ru",
                "en"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 8,
              "maximum": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category and service suggestions."
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "tags": [
          "Bulk"
        ],
        "summary": "Corpus size and freshness",
        "responses": {
          "200": {
            "description": "Counts and the most recent update."
          }
        }
      }
    },
    "/api/v1/export/cards.ndjson": {
      "get": {
        "tags": [
          "Bulk"
        ],
        "summary": "Every service, as newline-delimited JSON",
        "description": "Pass `updated_since` to mirror incrementally rather than re-downloading the corpus to find one changed phone number.",
        "parameters": [
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One JSON object per line.",
            "content": {
              "application/x-ndjson": {}
            }
          }
        }
      }
    },
    "/api/v1/feedback": {
      "post": {
        "tags": [
          "Write"
        ],
        "summary": "Report a problem with a record",
        "description": "No key needed. The people who find out a number is dead are the people who called it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "card_id": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "error",
                      "closed",
                      "wrong_phone",
                      "wrong_address",
                      "other"
                    ]
                  },
                  "message": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "string",
                    "description": "Optional, only if you want a reply."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recorded."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v1/ingest/whoami": {
      "get": {
        "tags": [
          "Write"
        ],
        "summary": "What this key can do",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The key's source, scopes, and whether its pushes publish immediately or queue for review."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/ingest/services": {
      "post": {
        "tags": [
          "Write"
        ],
        "summary": "Create or update services",
        "description": "Records are identified by `external_id` within your source, so re-sending the same\nrows updates them rather than creating duplicates.\n\nErrors are reported per item: a batch with one bad record writes the rest and names\nthe one that failed. Set `dry_run` to see the effect without writing.\n\nWhether a push is published immediately or queued for review depends on the trust\nlevel of the source your key belongs to. The response says which happened.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry run: what would have happened."
          },
          "202": {
            "description": "Processed. Check `results` for the outcome of each item."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The key lacks the ingest:write scope, or is not attached to a source."
          }
        }
      }
    },
    "/api/v1/ingest/match": {
      "post": {
        "tags": [
          "Write"
        ],
        "summary": "Ask whether a service already exists here",
        "description": "Takes the service objects you were about to push — the same shape, so nothing has to\nbe rewritten — and answers, for each, whether the corpus already holds it. Writes\nnothing.\n\nSources overlap. A service a ministry funds, a municipality contracts for and a\nnonprofit delivers is one service, and three sources describing it independently is\nhow a directory ends up listing the same shelter three times. Call this first.\n\nThree answers. `link` is confident enough to record without a person: it needs both a\nhigh total and corroboration beyond the name — the same organization, or a shared\nphone number. `review` means a person should look, and the `rationale` says what\nstopped it being decided. `new` means nothing in the corpus resembles it.\n\nThe score is broken into components — name, organization, taxonomy, geography,\ncontact — and a component the candidate says nothing about is `null` rather than\nzero, so a thin record is treated as unverified rather than as a bad match.\n\nMatching is deterministic: the same candidate against the same corpus gives the same\nanswer, and a person reading a decision can reproduce it.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "services"
                ],
                "properties": {
                  "services": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "$ref": "#/components/schemas/MatchCandidate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A decision, a rationale and the ranked candidates for each service."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/ingest/links": {
      "post": {
        "tags": [
          "Write"
        ],
        "summary": "Record that one of your documents is about an existing service",
        "description": "The other half of /match. When the answer was `link`, the document should not be\npushed as a service — it is a second sighting of one already here — but the sighting\nis worth keeping: it is the provenance saying a municipality contracts for this, and\nit is what makes the next run recognise the document instead of deciding again.\n\nA link from a trusted source is confirmed at once and appears among the service's\ndata sources. From anything else it waits for a reviewer, exactly as a pushed service\ndoes. A link a person has already ruled on is never re-decided by a later push:\nre-sending refreshes the evidence and nothing else.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "links"
                ],
                "properties": {
                  "dry_run": {
                    "type": "boolean",
                    "default": false
                  },
                  "links": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 200,
                    "items": {
                      "type": "object",
                      "required": [
                        "service_id",
                        "external_id"
                      ],
                      "properties": {
                        "service_id": {
                          "type": "string",
                          "description": "From /match."
                        },
                        "external_id": {
                          "type": "string",
                          "description": "Your id for the document."
                        },
                        "kind": {
                          "type": "string",
                          "default": "agreement"
                        },
                        "title": {
                          "type": "string"
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "method": {
                          "type": "string",
                          "enum": [
                            "matcher",
                            "manual",
                            "declared"
                          ]
                        },
                        "evidence": {
                          "type": "object",
                          "description": "Kept verbatim, so a link can be re-judged later."
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry run."
          },
          "202": {
            "description": "Recorded. Each item says whether it was confirmed or is waiting."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Write"
        ],
        "summary": "The links your source has recorded",
        "description": "Filter with `status` (proposed / confirmed / rejected) or `external_id`.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "proposed",
                "confirmed",
                "rejected"
              ]
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your links, newest first."
          }
        }
      }
    },
    "/api/v1/ingest/services/{externalId}": {
      "delete": {
        "tags": [
          "Write"
        ],
        "summary": "Withdraw a service",
        "description": "Archived, not deleted: the record and its history survive.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/smart-search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search from a sentence rather than a keyword",
        "description": "Takes a description of a situation — \"I have no money for food and I am in Tel Aviv\" —\nworks out which taxonomy categories it means, and searches on those.\n\nRuns on the same tools the MCP endpoint exposes, called server-side. Returns a short\nanswer, the categories it understood (so a wrong reading can be corrected), and the\nmatching cards, which are re-read from the database by id rather than produced by the\nmodel.\n\nRate limited per client, and unavailable when the server has no model credentials —\ncheck GET /api/v1/smart-search/status first. The ordinary /search endpoint has neither\nrestriction and should stay the default path.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "q"
                ],
                "properties": {
                  "q": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 500
                  },
                  "lat": {
                    "type": "number"
                  },
                  "lon": {
                    "type": "number"
                  },
                  "lang": {
                    "type": "string",
                    "enum": [
                      "he",
                      "ar",
                      "ru",
                      "en"
                    ],
                    "default": "he"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An answer, what was understood, and the matching cards."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "description": "Rate limited. Use /api/v1/search instead."
          },
          "503": {
            "description": "Smart search is not configured on this server."
          }
        }
      }
    },
    "/api/v1/smart-search/status": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Whether smart search is available on this instance",
        "responses": {
          "200": {
            "description": "{ available: boolean }"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Model Context Protocol endpoint",
        "description": "A JSON-RPC endpoint over the same data, for AI assistants. Tools: search_services, find_services_near, get_service, find_taxonomy, list_taxonomy, get_organization, emergency_lines, corpus_stats. No authentication.",
        "responses": {
          "200": {
            "description": "A JSON-RPC or SSE response, per the MCP Streamable HTTP transport."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key with the ingest:write scope."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request could not be understood. The body names the field at fault.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "A valid API key is required."
      },
      "NotFound": {
        "description": "No such record."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "field": {
            "type": "string"
          }
        }
      },
      "Card": {
        "type": "object",
        "description": "One service as offered at one place.",
        "properties": {
          "card_id": {
            "type": "string",
            "description": "Stable id; the public site links to /s/{card_id}."
          },
          "service_id": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "service_name": {
            "type": "string"
          },
          "service_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization_name": {
            "type": "string"
          },
          "organization_kind": {
            "type": [
              "string",
              "null"
            ],
            "description": "e.g. עמותה, משרד ממשלתי, רשות מקומית."
          },
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ]
          },
          "lon": {
            "type": [
              "number",
              "null"
            ]
          },
          "national_service": {
            "type": "boolean",
            "description": "Available anywhere in the country; has no coordinate."
          },
          "location_accurate": {
            "type": "boolean",
            "description": "False when the point is a city centroid rather than the address."
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "response_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "situation_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "distance_m": {
            "type": [
              "number",
              "null"
            ],
            "description": "Present only when the search carried a location."
          },
          "also_offered_by": {
            "type": "integer",
            "description": "How many further organizations this collapsed row stands for."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Matches in the whole result set, not this page."
          },
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "facets": {
            "type": "object",
            "description": "Counts across the whole result set, so they still make sense on later pages.",
            "properties": {
              "responses": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Facet"
                }
              },
              "situations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Facet"
                }
              },
              "cities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Facet"
                }
              }
            }
          }
        }
      },
      "Facet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "MatchCandidate": {
        "type": "object",
        "required": [
          "name"
        ],
        "description": "A service you are considering pushing. Every field of ServiceInput is accepted and anything else is ignored, so the payload you built for /ingest/services can be posted here unchanged — only `name` is actually required.",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Echoed back, so results can be lined up with what you sent."
          },
          "name": {
            "type": "string"
          },
          "alternate_names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Other names the same offering goes by — the programme name, the provider's own name for it. A service already in the corpus is usually listed under one of those rather than under a contract's phrasing, and each is tried."
          },
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The registration number. When it matches, the organization is not in doubt."
              },
              "name": {
                "type": "string"
              }
            }
          },
          "city": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "branches": {
            "type": "array",
            "description": "Accepted so a full payload can be posted unchanged; the first branch with a place is used.",
            "items": {
              "type": "object",
              "properties": {
                "city": {
                  "type": "string"
                },
                "lat": {
                  "type": "number"
                },
                "lon": {
                  "type": "number"
                }
              }
            }
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "urls": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "responses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Compared after expansion to ancestors."
          },
          "national_service": {
            "type": "boolean"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 25,
            "default": 5
          }
        }
      },
      "IngestRequest": {
        "type": "object",
        "required": [
          "services"
        ],
        "properties": {
          "dry_run": {
            "type": "boolean",
            "default": false,
            "description": "Report the effect without writing."
          },
          "services": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "items": {
              "$ref": "#/components/schemas/ServiceInput"
            }
          }
        }
      },
      "ServiceInput": {
        "type": "object",
        "required": [
          "external_id",
          "name",
          "responses",
          "organization"
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Your id. Re-sending it updates the same record."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "details": {
            "type": "string",
            "description": "Eligibility, hours, how to apply — free text."
          },
          "payment_required": {
            "type": "boolean"
          },
          "payment_details": {
            "type": "string"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email_address": {
            "type": "string",
            "format": "email"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "responses": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "description": "At least one, or nothing can lead to the service. Unknown ids are rejected."
          },
          "situations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "national_service": {
            "type": "boolean"
          },
          "organization": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "The Israeli registration number, where there is one. Supplying it lets records from different sources meet."
              },
              "external_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "short_name": {
                "type": "string"
              },
              "kind": {
                "type": "string"
              },
              "purpose": {
                "type": "string"
              },
              "phone_numbers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "branches": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "external_id"
              ],
              "properties": {
                "external_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "lat": {
                  "type": "number"
                },
                "lon": {
                  "type": "number"
                },
                "phone_numbers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
